.box-banner-Page{
position: relative;
}

.title__pokedex--Page{
    width: 300px;
    position: absolute;
    top: 0;
    margin-top: 10px;
    margin-left: 20px;
}
.cuadrado {
    width: 60px;
    height: 60px;
    background: white;
    border-radius: 40px;
    border: 4px solid black;
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
}

.cuadradito {
    width: 30px;
    height: 30px;
    background: rgba(33, 33, 33, 255);
    border: 4px solid rgba(0, 0, 0, 255);
    border-radius: 40px;
    margin: 11px;
}

.box-red {
    width: 100%;
    height: 50px;
    background: rgba(220, 26, 26, 255);
}

.box-black {
    width: 100%;
    height: 30px;
    background: black;
}

/* ******************************** */
.subtitle__pokedexPage {
    margin-top: 25px;
    margin-bottom: 20px;
    margin-left: 10vw;
    color: red;
    font-weight: 600;
}

.span__subtitle {
    color: black;
}

.form__pokedexPage {
    display: flex;
}


.input__pokedexPage {
    margin-left: 10vw;
}


.box__Search__pokedexPage {
    display: flex;
}

.option__allPokemon {
    width: 20vw;
    height: 35px;
    margin-left: 20px;
}

.div__box__cards {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    padding: 5% 5%;
    gap: 3em;
}

.paginacion {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30px auto;

}

.paginacion__block {
    width: 50px;
    height: 40px;
    color: rgba(34, 84, 196, 255);
    background: rgba(236, 241, 255, 255);
    padding: 8px 2px;
    border-radius: 8px;
    cursor: pointer;
}

.paginacion__block--selected {
    background: rgba(34, 84, 196, 255);
    color: white;
}

@media (max-width: 1250px) {
    .div__box__cards {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 900px) {
    .div__box__cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px) {
    .div__box__cards {
        grid-template-columns: 1fr;
    }

    .subtitle__pokedexPage {
        margin-top: 25px;
        margin-bottom: 20px;
        margin-left: 10vw;
        margin: 25px auto;
        color: red;
        font-weight: 600;
        text-align: center;
    }

    .box__Search__pokedexPage {
        display: flex;
        flex-direction: column;
    }

    .option__allPokemon {
        margin-left: 10vw;
    }

    .title__pokedex--Page{
        width: 60%;
        position: absolute;        
        margin-left: 10px;
        margin-top: 20px;
       
    }
}